@media (max-width: 576px) {
    .cabecalho{
        position: relative;
        text-align: center;
        height: 50vh;
    }
    .cabecalho .logo img{
        position: relative;
        display: block;
        margin: 0 auto;
    }
    .cabecalho nav{
        bottom: 0;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .cabecalho nav ul li{
        display: block;
        padding-top: 15px;
        width: 100%;
        margin: 0px;
    }
    .cabecalho nav ul li a{
        width: 100%;
        display: block;
    }
    .sectionText{
       text-align: center; 
       margin: 0px auto;
       display: block;

    }
    .sectionText h2{
        
        font-size: 3rem;
    }
    .sectionText p{
        font-size: 2rem;
        
    }
}
@media (max-width: 482){
    .sectionText{
        width: auto;
    }
}